@model IEnumerable<vcart.Models.OrderModel>

@{
    ViewData["Title"] = "Index";
}


<h1>Your Orders</h1>
@if(Model != null && Model.Count() > 0){
<table class="table">
    <thead>
        <tr>       
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>     
             <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Order Details", "Details", new { Id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
}
else{
    <h3>No Orders Placed</h3>
}